<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Hero Id</th>
                        <th>Hero Name</th>
                        <th>Sidekick Status</th>
                        <th>Update</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each heroes}}
                    <tr>
                        <td>{{this.id}}</td>
                        <td>{{this.name}}</td>
                        <td>{{this.sidekick}}</td>
                        <td><button class="btn btn-danger hero-update" data-id={{this.id}}>Make Sidekick</button></td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
        <div class="col-md-12">
            <form class="hero-form">
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="name" class="form-control" id="name">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>